<% content_for :title do %>About<% end %>
<h3>About..</h3>
<p>..narwhal pug literally gluten-free Blue Bottle street art. Normcore fingerstache literally, cold-pressed wolf selvage whatever. Four loko health goth +1, slow-carb narwhal tofu mlkshk meditation irony Odd Future Banksy scenester post-ironic kitsch. Selvage synth pop-up whatever, stumptown pork belly forage yr vinyl freegan master cleanse. Kogi organic jean shorts flexitarian Wes Anderson. Wayfarers cornhole disrupt Wes Anderson cred. Slow-carb crucifix whatever, before they sold out Vice irony Echo Park polaroid artisan squid.</p>
